{% extends "layouts/base.html" %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %}
  <header class="header-2">
      <div class="page-header min-vh-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/{{ cooker.username}}.jpg')">
        <span class="mask bg-gradient-info opacity-2"></span>
        <div class="container">
          <div class="row">
            <div class="col-lg-7 text-center mx-auto">
              <h1 class="text-white pt-3 mt-n5">{{ cooker.get_full_name }}</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
  <br>
  <p>{{ cooker.years_of_experience }} year{{ cooker.years_of_experience|pluralize}} in cooking!</p>
  <br>
  <h1 class="text-black pt-3 mt-n5">Can cook for you such dishes:</h1>
  {% for dish in cooker.dishes.all %}
    <li>
      <a href="{% url 'restaurant:dish-detail' pk=dish.id %}">
        {{ dish.name }}
      </a>
       - {{ dish.price }}
    </li>
  {% endfor %}

{% endblock %}
