{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}


{% block content %}
{% include 'includes/navigation-transparent.html' %}

<header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/bg-dish-list.jpg')">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-center text-white">OUR COOKS</h1>
              {% if cooker_list %}
                {% for cooker in cooker_list %}
                  <img width="45%" height="auto" src="{{ ASSETS_ROOT }}/img/{{ cooker.first_name.lower }}_{{cooker.last_name.lower}}.jpg" alt="">
                  <a href="{{ cooker.get_absolute_url }}">
                    <p style="color: white">{{ cooker.first_name }} {{cooker.last_name}}</p>
                  </a>
                {% endfor %}
                {% else %}
                  <p>There are no dishes available</p>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
  <input class="btn btn-secondary" type="submit" value="search">
  </form>
  {% block pagination %}
    {% include "includes/pagination.html" %}
  {% endblock %}

{% endblock %}
